.started {
    padding-top: 100px;
    padding-bottom: 200px;
}
.started-box {
    background-color: #007FFC;
    border-radius: 16px;
    text-align: center;
    padding-top: 97px;
    padding-bottom: 84px;

    h4 {
        font-size: 40px;
        line-height: 1.3;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-bottom: 19px;
    }
    p {
        font-size: 18px;
        line-height: 1.78;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 48px;
    }
}
.button {
}

.btn--try {
    background: #FFFFFF;
    color: #183B56;;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    margin-right: 20px;
    &:hover {
        background-color: #007FFC;
        color: #fff;
    }
}
.btn--demo {
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #183B56;
    }
}